package components

templ Footer() {
    <footer class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                        <a href="/" class="text-xl font-bold text-gray-800">GoFormX</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
} 