package components

templ Messages() {
	<div class="messages-section">
		<h2 class="messages-title">Messages</h2>
		<div id="messages-list" class="messages-list">
			<!-- Messages will be loaded here -->
		</div>
	</div>
} 