package components

// PageHero for all other pages (compact by default)
templ PageHero(title string, subtitle string) {
    <section class="hero">
        <div class="container">
            <h1 class="hero-title">{ title }</h1>
            <p class="hero-subtitle">{ subtitle }</p>
        </div>
    </section>
} 