# Binaries and objects
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment and IDE
.env
*.swp
*.swo

# Dependencies
vendor/

# Build
bin/
dist/

# Logs
*.log

# Database
*.db 

# Air
tmp/
air_errors.log 

# Taskfile
.task/

# HTMGo
__htmgo/

# Add to .gitignore
*_templ.go
