package components

templ Footer() {
    <footer class="footer">
        <div class="container footer-container">
            <p>Created by <a href="https://github.com/jonesrussell" class="footer-link">Russell Jones</a></p>
        </div>
    </footer>
} 