package components

templ Footer() {
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-copyright">
                    Made by <a href="https://jonesrussell.github.io/me" target="_blank" class="footer-link">Russell Jones</a>
                </div>
            </div>
        </div>
    </footer>
} 