package components

templ Footer() {
    <footer>
        <div class="container">
            <div class="copyright">
                Made by <a href="https://jonesrussell.github.io/me" target="_blank" rel="noopener noreferrer">Russell Jones</a>
            </div>
        </div>
    </footer>
} 