package components

import (
	"fmt"

	"github.com/goformx/goforms/internal/infrastructure/view"
)

templ Message(data view.PageData) {
if data.Message != nil {
<div class={ fmt.Sprintf("message-area %s", data.Message.Type) }>
	<i class={ fmt.Sprintf("bi bi-%s", view.GetMessageIcon(data.Message.Type)) }></i>
	<span>{ data.Message.Text }</span>
</div>
}
}