package pages

import (
	"github.com/goformx/goforms/internal/presentation/templates/layouts"
	"github.com/goformx/goforms/internal/presentation/templates/components"
	"github.com/goformx/goforms/internal/presentation/templates/shared"
)

templ Home(data shared.PageData) {
	@layouts.Layout(data, HomeContent())
}

templ HomeContent() {
	@components.HomeHero()
	@components.Features()
} 